$body-bg: #F2F4F5;
$content-bg: #B3CDD5;
$item-bg: #DAE1E4;

$base-text: #333;
$gallery-text: #ccc;
$light-text: #aaa;

body {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    font-family: sans-serif;
    background: $body-bg;
}

a:link, a:visited {
    color: $base-text;
}

nav {
    margin-top: 1em;
    margin-bottom: 3em;

    &, a, a:link {
        color: $base-text;
        font-family: "Lucida Console", Courier, monospace;
        font-weight: bold;
    }

    .app-name {
        font-size: 200%;
        margin: 0;
    }

    h1 {
        font-size: 140%;
        margin: 0;

        img {
            width: 1.3em;
            height: 1.3em;
            margin-bottom: -0.25em;
        }
    }
}

#content {
    width: 100%;
    background: $content-bg;
    box-shadow: 0 0 0 100vmax $content-bg;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
    clip-path: inset(0 -100vmax);
}

.download-all {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.7em;
    padding-right: 0.05em; // To match the border of dir-listing items


    a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0.3em;

        img {
            width: 2em;
            height: 2em;
            margin: 0.5em
        }
    }
}

ul.dir-listing {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: -0.2em;
    padding-bottom: -0.2em;

    li {
        list-style-type: none;
        border: 0.05em solid $base-text;
        border-radius: 0.3em;
        background-color: $item-bg;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding: 0.3em;
        min-height: 2.5em;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;

        a.main-link {
            display: block;
            overflow-wrap: break-word;
            max-width: 100%;
            text-decoration: none;
            flex: 1 0 auto;

            .underlined {
                text-decoration: underline;
                margin-left: 0.5em;
            }

            img {
                width: 4rem;
                height: 4rem;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }

    .details1 {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        align-items: center;
    }

    .details2 {
        display: flex;
        flex-direction: column;
        text-align: right;
        max-width: 100%;

        span {
            overflow-wrap: break-word;
            max-width: 100%;
        }
    }

    a.download img {
        width: 2em;
        height: 2em;
        margin: 0.5em
    }
}

.empty-dir-listing {
    text-align: center;
    color: #999;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

time .separator {
    font-size: 90%;
    color: #999;
}

#gallery {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    opacity: 0;
    transition: opacity 0.5s ease;

    .img-wrap {
        position: relative;
        align-self: center;
        width: 100%;
        flex: 0 1 auto;
        min-height: 0;
    }

    img.main {
        max-width: 100%;
        max-height: 100%;
        /*object-fit: contain;*/
        margin: 0 auto;
        display: block;

        opacity: 1;
        transition: opacity 0.5s ease-in;
    }

    .loading img {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }

    progress {
        opacity: 0;
        transition: opacity 0.5s ease-out;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 8em;
        height: .8em;
        border: 0.01em solid $gallery-text;
        background: transparent;

        &::-webkit-progress-bar, &::-moz-progress-bar {
            background-color: #ccc;
        }

        &:indeterminate::-webkit-progress-bar, &:indeterminate::-moz-progress-bar {
            width: 30%;
        }

        &:indeterminate::-webkit-progress-bar, &:indeterminate::-moz-progress-bar {
            width: 30%;
            animation: 1.5s infinite alternate progress-bounce;
            animation-timing-function: ease-in-out;
        }
    }

    .loading progress {
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }

    .info {
        min-height: 2em;
        color: $gallery-text;
        text-align: center;
        flex: 1 0 auto;
    }

    .placeholder {
        min-height: 0;
        flex: 1 0 auto;
    }

    a.close, a.prev, a.next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 20vw;
        height: 8em;
    }

    a.close {
        top: 0;
        right: 0;
        z-index: 20;
    }

    a.prev {
        left: 0;
        z-index: 8;
    }

    a.next {
        right: 0;
        z-index: 9;
    }

    a.prev, a.next {
        top: 50%;
        transform: translate(0, -50%);
    }

    a img {
        height: 4em;
        width: 4em;
        filter: brightness(0) drop-shadow(#000 0 0 0.1em) drop-shadow(#fff 0 0 0.5em);
    }

    .thumbnails {
        width: 100%;
        height: 20vh;
        border: 1px solid red;
        flex: none;
    }

}

.gallery-visible #gallery {
    display: flex;

    opacity: 1;
    transition: opacity 0.5s ease;
}


@keyframes progress-bounce {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 70%;
    }
}

footer {
    text-align: right;
}

.hidden {
    visibility: hidden;
}
