<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="{{ download_base_url }}/style.css?mode=internal&cache_hash={{ static_content_hash }}">
  <script src="{{ download_base_url }}/gallery.js?mode=internal&cache_hash={{ static_content_hash }}" defer></script>
</head>
<body>
{% block content %}{% endblock %}
<footer>
    <div><a href="{{ crate::pages::PROJECT_REPO }}">{{ crate::pages::PROJECT_NAME }}</a> {{ crate::pages::PROJECT_VERSION }}</div>
    <div>No cookies, no tracking, no nothing. <small>Well... <a href="https://github.com/bluecube/filedl/blob/main/templates/base.html#L7">almost.</a></small></div>
    <div>Times are in timezone {{ display_timezone.name() }}.</div>
</footer>

</body>
</html>
