{% extends "base.html" %}
{% block title %}{{ directory_path }}{% endblock %}
{% block content %}
<nav>
    {% if !app_name.is_empty() %}<div class="app_name">{{ app_name }}</div>{% endif %}
    <h1 class="breadcrumbs"><a class="home" href="{{ download_base_url }}">home</a>{% for piece in directory_breadcrumbs %}/<a href="{{ download_base_url }}/{{ piece.link_url }}">{{ piece.name }}</a>{% endfor %}</h1>
</nav>
<div id="content">
    {% if items.is_empty() %}
    <div class="empty-dir-listing">No data</div>
    {% else %}
    <ul class="dir-listing">
        {% for item in items %}
        <li class="{% if item.is_directory %}directory{% else %}file{% endif %}">
            <a class="name" href="{{ download_base_url }}/{% if !directory_path.is_empty() %}{{ directory_path }}/{% endif %}{{ item.name }}">{{ item.name }}{% if item.is_directory %}/{% endif %}</a>
            <div class="details">
                {% if !item.is_directory %}<span class="size">{{ item.file_size|filesizeformat }}</span>{% endif %}
                {% match item.modified %}{% when Some(time) %}<span class="modified">{{ time|time_format }}</span>{% when None %}{% endmatch %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
